.home{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

}

.text{
    font-size: 20px;
    line-height: 1.6;
    color: #C4C5C5;
}

.signinWrapper{
    margin-top: 20px;

    >span{
        color: #7200ff;
        margin-right: 10px;
    }

    >a {
        color: #7200ff; 
        text-decoration: none; 
        transition: color 0.3s; 
        font-weight: bold;
      
        &:hover {
          color: #540cac; 
          text-decoration: underline;
        }
      }
}