.home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.custom-card .text {
  font-size: 16px;
  line-height: 1.6;
  color: #c4c5c5;
  text-align: center;
}

.signinWrapper {
  margin-top: 20px;

  > span {
    color: #0077ff;
    margin-right: 10px;
  }

  > a {
    color: #0077ff;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;

    &:hover {
      color: #014a9c;
      text-decoration: underline;
    }
  }
}
